/* main.css */
html{
	margin: 0;
	padding: 0;
}
body{
	background-color: white;
	box-sizing: border-box;
	font-family: HelveticaNeue, 'Helvetica Neue', HelveticaNeueRoman, HelveticaNeue-Roman, 'Helvetica Neue Roman', Helvetica, Tahoma, Geneva, Arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	font-weight: normal;
	line-height: 32px;
	padding: 0;
	margin: 0;
	color: #222;

	width: 500px;
	margin: 150px auto;
}

h1{
	font-size: 24px;
	font-weight: normal;
}

a{
	text-decoration: none;
	color: #1DAD57;
	font-weight: bold;
}

em{
	color: #666;
}

header,
section{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.uploadMethod{
	cursor: pointer;
	display: inline-block;
	padding: 20px 25px 22px 25px;
	background: -webkit-linear-gradient(top, #FAFAFA, #EEE);
	background-color: #FAFAFA;
	border: 1px solid #888;
	border-radius: 5px;
	box-shadow: 
		inset 0 1px 0 white,
		inset 0 -3px 0 #CCC,
		inset 0 -4px 0 #AAA,
		inset 0 -4px 6px rgba(0,0,0,0.1);
	font-weight: normal;
	color: #888;
	margin-right: 15px;
	text-shadow: 0 -1px white;
}
.uploadMethod:hover{
	color: #222;
}
.uploadMethod:active{
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
	color: #666;
	text-shadow: 0 2px #FFF;
}

